<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebSite.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WebSite.Service.Properties.Settings>
            <setting name="WebSite_Service_SOAPWebService_Firebase_WebService"
                serializeAs="String">
                <value>http://192.168.1.66:8089/SOAPWebServices.Core/WebService.svc</value>
            </setting>
        </WebSite.Service.Properties.Settings>
    </applicationSettings>
</configuration>